.cart-container{
    /* background-color: rgb(0, 0, 0);
    opacity: 10%; */
    padding: 2rem 10rem;
}

.cart-details-container{
    background-color: white;
    height: 100%;
}

.cart-header{
    text-align: center;
}

.cart-title{
    text-align: center;
    font-size: 2rem;
}

.total-value{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 16rem;
}