.edit-card-container{
    width: 80%;
    min-height: 24vh;
    display: flex;
    margin: 2rem auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(237, 237, 237);
    border-radius: 4px;
    box-shadow: 0 6px 10px #8080801c;
}

.edit-card-info{
    margin: 2rem 2rem 1rem 2rem;
}

.edit-title{
    font-size: 1.2rem;
}

.edit-price{
    font-size: 1.2rem;
    display: flex;
    margin: 1rem 0;
}

.edit-image-src{
    font-size: 1rem;
    font-weight: 300;
}

.edit-description{
    font-size: 1rem;
    font-weight: 400;
}

.edit-btn{
    background-color: #D7E0E5;
    width: 6rem;
    height: 5vh;
    border: none;
    border-radius: 3px;
    margin: 2rem 0 2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1.2rem;
   
}

.edit-btn:hover{
    cursor: pointer;
    background-color: #cad7dd;
    transition: ease-in, 0.1s;
}





